@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: varelaround;
    src: url(/fonts/varelaround.ttf);
}
body::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
